/* Sidebar Styling */
.sidebar {
  width: 200px; /* Fixed width for the sidebar */
  background-color: #092542; /* Blue background color */
  color: white; /* White text color */
  height: calc(100vh - 60px); /* Full height minus the height of the navbar */
  position: fixed; /* Fixed position */
  top: 60px; /* Position below the navbar */
  left: 0; /* Align to the left */
  padding: 1rem; /* Padding inside the sidebar */
  overflow-y: auto; /* Scroll if content overflows */
}

.sidebar a {
  color: white; /* White link color */
  text-decoration: none; /* Remove underline from links */
  display: block; /* Block display for links */
  margin: 0.5rem 0; /* Spacing between links */
  font-size: large;
  width: 250px;
}

.sidebar a:hover {
  background-color: #0b0e11; /* Darker blue background on hover */
  padding: 0.5rem; /* Add padding on hover */
  border-radius: 4px; /* Rounded corners on hover */
}
.sidebar .sidebar-icon {
  margin-right: 5px; /* Space between icon and text */
}
.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #0a2139; /* Dark background color */
  padding: 20px;
  border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
  color: #ffffff; /* White color for text */
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.sidebar .sidebar-icon {
  margin-right: 10px;
}

.sidebar .dropdown-menu {
  width: 100%;
  background-color: #0a2139;
}
