@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --blue: #0188DF;
    --black: #354046;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

ul, li, a {
    color: rgb(242, 241, 246) !important;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
}

ul, li, a:hover {
    color: rgb(65, 46, 243) !important;
    



}

.navbar {
  /* Add your navbar styles here */
}

.navbar-toggler {
  /* Add styles for the toggle button */
}

.navbar-nav {
  /* Add styles for the navigation items */
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 15px;
}

#search-bar {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fa-search {
  margin-left: 10px;
  cursor: pointer;
}
  .login-button {
    background-color: #160b3c; 
    border:#160b3c; /* Remove border */
    color: white; /* White text */
    padding: 7px 15px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get elements to line up correctly */
    font-size: 20px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    margin-bottom: 30px;
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 10px; /* Rounded corners */
    transition-duration: 0.4s; /* 0.4 seconds transition effect to hover state */
  }
  
  .login-button:hover {
    background-color: rgb(36, 27, 174); /* White background on hover */
    color: rgb(244, 237, 237); /* Black text on hover */
    border: 2px solid #07042e; /* Green border on hover */
  }
  

/* Home */
/* Full-width and full-height video */
.background-video {
  position:fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 10%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.3;
}
/* Full-width and height of the main content */
.main-content {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  color: rgb(10, 4, 53);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}

/* Hero content styles */
.hero_content {
  position: relative;
  z-index: 1;
}

.hero_content_text h1 {
  font-size: 2em;
 padding-top: 80px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:brown
}

.hero_content_text p {
  font-size: 1em;
  margin: 0.5em 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-content_cta {
  margin-top: 1em;
}

.btn-cta_primary {
  background-color: #1e5289;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.btn-cta_primary a {
  color: rgb(4, 1, 27);
  text-decoration:solid;
}

.hero_content_cta_video-link text {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #143353;
}


/* News section */
.news {
  margin-top: 2.5em;
  padding: 2em;
  background-color: #f5f5f5;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news h2 {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card {
  background-color: rgb(207, 208, 242);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: left;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 1.5em;
  margin: 0.5em;
  color: #312828;
  font-weight: bold;
}

.card p {
  font-size: 1em;
  margin: 0.5em;
  padding: 0 0.5em;
  color: #312828;
  text-align: justify;
}

/* Description section styles */
.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em;
  background-color: #f3f3f5;
}

.description_content{
  flex: 1;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
 background-color: aliceblue;
  box-shadow: #0188DF;
}
.erpImg{
  background-color: aliceblue;
  box-shadow: #0188DF;
  padding: 5px;
  
}

.description_content h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.description_content p {
  font-size: 1.2em;
  color: #2d2929;
  text-align: justify;

}

.erpImg {
  flex: 1;
  padding: 1.5em;
}

.erpImg img {
  width: 100%;
  height: 150%;
  border-radius: 8px;
}

/*editing*/
.editing{
  display: flex;
  align-items: center;
  justify-content:center;
  font-weight: bold;
  color: #02162b;
  font-size: 1.7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 3.5em;

}

.editbtn{
  display: flex;
  align-items: center;
  justify-content:center;
  color: #143353;
  margin-bottom: 55px;
  padding: 15px;
}

.login-button {
  background-color: #160b3c; 
  border:#160b3c; /* Remove border */
  color: white; /* White text */
  padding: 7px 15px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get elements to line up correctly */
  font-size: 20px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  margin-bottom: 30px;
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 10px; /* Rounded corners */
  transition-duration: 0.4s; /* 0.4 seconds transition effect to hover state */
}

.login-button:hover {
  background-color: rgb(36, 27, 174); /* White background on hover */
  color: rgb(244, 237, 237); /* Black text on hover */
  border: 2px solid #07042e; /* Green border on hover */
}
/* Media Queries */
@media (max-width: 1024px) { /* Tablet view */
  .description {
    flex-direction: column-reverse;
    text-align: center;
  }

  .description_content, .erpImg {
    padding: 1em 0;
  }
  .description_content p {
    font-size: 1.2em;
    color: #2d2929;
    text-align: justify;
    padding: 1.3em;
  
  }

  .erpImg img {
    width: 80%;
  }
}
/*media*/
@media (max-width:768px){

  .description {
    flex-direction: column-reverse;
    text-align: center;
  }

  .description_content, .erpImg {
    padding: 1em 0;
  }

  .erpImg img {
    width: 90%;
  }
}
@media (max-width: 1024px) { /* Tablet view */
  .main-content {
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(10, 4, 53);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .hero_content_text h1 {
    font-size: 1.8em;
  }

  .hero_content_text p {
    font-size: 0.9em;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) { /* Mobile view */
  .main-content {
    font-size: 18px;
    padding-top: 40px;
  }

  .hero_content_text h1 {
    font-size: 1.5em;
    padding-top: 60px;
  }

  .hero_content_text p {
    font-size: 0.8em;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 1em;
  }
}


/* Footer */
footer {
  position: relative; /* Added this */
  background-image: linear-gradient(to right, #0c3057, #050835);
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Changed from top: 100px */
  height: 1px;
  width: 100%;
  background: #afafb6;
}
footer .content {
  max-width: 1200px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #0077b5;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ff0000;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #eaeaea;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #3824d2;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #2e2748;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 25px;
    width: 35px;
    font-size: 14px;
    line-height: 25px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
  @media (max-width: 768px) {
    footer {
      position: relative; /* Ensure proper positioning on mobile */
    }

    footer::before {
      bottom: 0; /* Ensure the line stays at the bottom */
      top: auto; /* Reset top property */
    }
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 125px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
  header .fa-bars {
    display: block;
    color: #d36217;
  }
}


/* About css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-width-containerAbout {
  width: 100%;
  height: 55vh;
  background-image: url('./assets/images/abtus.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}
.full-width-containerAbout h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.full-width-containerAbout p {
  font-size: 24px;
  margin: 0;
}
.underline {
  width: 50px;
  height: 4px;
  background-color: #ff4d4d;
  margin: 20px auto;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #007BFF;
  margin: 0 auto;
}

.ServicesIdea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
  background-color: aliceblue;
}

.service_content {
  flex: 1;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.serviceImage {
  flex: 1;
  padding: 5px;
}

.service_content h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.service_content p {
  font-size: 1.2em;
  color: #2d2929;
  text-align: justify;
}

.serviceImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.testimonial-section {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.testimonial-section h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.testimonial img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonial p {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.testimonial h3 {
  font-size: 1.2em;
  color: #333;
}

.team-section {
  padding: 40px 20px;
  background-color: #f0f0f0;
}

.team-section h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-member {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.team-member h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007BFF;
}

.team-member h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.team-social a {
  color: #007BFF;
  font-size: 1.5em;
  margin: 0 10px;
}

.team-social a:hover {
  color: #0056b3;
}

/* Service CSS */
/* Container and row styles */
.container-service {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card styles */
.card {
  
  max-width: 550px;
  height: 405px; /* Fixed height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e8f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card i {
  font-size: 50px;
  margin-bottom: 15px;
  color: #007BFF; /* Customize icon color */
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
}

.card-title {
 font-size: 20px;
 color: rgb(8, 8, 77);
 font-weight: bold;
}

.card-text {
  font-size: 16px;
  text-align: left;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.full-width-containerServ {
  width: 100%;
  height: 55vh; /* Full viewport height */
  background-image: url('./assets/images/services.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.full-width-containerServ h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #007BFF; /* Customize underline color */
  margin: 0 auto;
}

/* ServiceIdea CSS */
.service-idea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em;
  background-color: aliceblue;
  margin-bottom: 3em; /* Adds spacing between sections */
}

.service-idea.reverse {
  flex-direction: row-reverse;
}

.serviceImage {
  flex: 1;
  padding: 5px;
}

.service_content {
  flex: 1;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.service_content h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.service_content p {
  font-size: 1.2em;
  color: #2d2929;
  text-align: justify;
}

.serviceImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* contact css */
/* Container and row styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-width-containerCon {
  width: 100%;
  height: 55vh; /* Full viewport height */
  background-image: url('./assets/images/contactUs.jpg'); /* Adjust the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 50px;
  font-weight: bold;
  font-size: 40px;
}

.full-width-containerCon h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.full-width-containerCon p {
  font-size: 24px;
  margin: 0;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #007BFF; /* Customize underline color */
  margin: 0 auto;
}

.contact-info-area {
  padding: 100px 0;
}

.section-heading {
  margin-bottom: 40px;
}

.section-heading p {
  font-size: 26px;
  color: #06043c;
  font-weight: bold;
}

.section-heading h2 {
  font-size: 36px;
  color: #333;
}

.single-information-area {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-icon {
  font-size: 40px;
  color: #1f118f;
  margin-bottom: 20px;
}

.single-information-area h5 {
  font-size: 18px;
  color: #333;
}

.single-information-area h6 {
  font-size: 16px;
  color: #777;
}

.c-border {
  width: 100%;
  height: 2px;
  background: #0b023f;
  margin-top: 20px;
}

.form-section {
  text-align: center;
}

.form-section p {
  font-weight: bold;
  font-size: 26px;
  color: #0b023f;
}

.container-form {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #190438;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e5e9ee;
}

.container-form h2 {
  margin-bottom: 20px;
  font-size: 15px;
  color: #1f118f;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #190438;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #706666;
  border-radius: 5px;
}

.form-group input[type="checkbox"] {
  width: auto;
}

.form-group .checkbox-label {
  display: inline-block;
  margin-left: 5px;
}

.form-group textarea {
  height: 100px;
}

.form-group button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

.map-container {
  position: relative;
  padding-bottom: 26.25%; /* 16:9 aspect ratio */
  max-height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #eee;
  margin-bottom: 5px;
  margin-top: 20px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Login css */

::selection{
  background: rgb(13, 98, 254);
  color: #0e0909;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/images/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;   /* Ensures the image covers the full div */
  background-position: center; /* Centers the image within the div */
}
.wrapper{
  overflow: hidden;
  max-width: 490px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left,  #45a3bd, rgb(13, 98, 254));
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #151313;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: rgb(13, 98, 254)
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: rgb(13, 98, 254);
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right,  #45a3bd, rgb(13, 98, 254), #45a3bd, rgb(13, 98, 254));
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/* signup.css */
/* .container {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.container .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
  display: none;
}

.form-outer form .page.active {
  display: block;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-outer form .page .field {
  width: 100%;
  margin: 20px 0;
  position: relative;
}

form .page .field .label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

form .page .field input,
form .page .field select {
  height: 40px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 16px;
}

form .page .field button {
  width: 100%;
  height: 40px;
  border: none;
  background: rgb(13, 98, 254);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
}

form .page .field button:hover {
  background: #000;
}

form .page .btns button {
  margin-top: 20px;
}

form .page .btns button.prev {
  margin-right: 3px;
  font-size: 16px;
}

form .page .btns button.next {
  margin-left: 3px;
}

Updated Progress Bar
.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  padding: 0 10px;
}

.progress-bar .step {
  text-align: center;
  flex: 1;
  position: relative;
}

.progress-bar .step p {
  margin-bottom: 10px;
}

.progress-bar .bullet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.progress-bar .bullet span {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.progress-bar .check {
  color: #fff;
  display: none;
}

.progress-bar .step.active .bullet {
  background-color: #4caf50;
}

.progress-bar .step.active .check {
  display: block;
}

.progress-bar .step::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #e0e0e0;
  z-index: 0;
  transform: translateY(-50%);
}

.progress-bar .step.active::after {
  background-color: #4caf50;
}

.progress-bar .step:last-child::after {
  display: none;
} */
 
